node_modules/
src/
coverage/
dist/test/
tsconfig.json
.gitignore
.prettierignore
prettier.config.js
.env
.eslintrc
.eslintignore
.huskyrc
.lintstagedrc
**/*.ts
!**/*.d.ts
release.sh
.vscode/
.npm/
.npmrc
.npmignore
